  /* Estilos generales */
  body {
      font-family: Arial, sans-serif;
      margin: 0px;
      padding: 0px;
      background-image: url(img/wp4739343-games-2019-wallpapers.jpg);
      background-size: 152%;
background-position: top;
}

  /* Estilos del menú de navegación */
  .main-nav {
    padding: 32px;list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }

  .main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

  .main-nav li {
    display: inline;
    margin-right: 10px;
    
  }
.img-icon{
  position: fixed;
  top: 21px; left: 100px;

}
  .main-nav a {
    color: white;
    text-decoration: none;
  }

  .main-nav a:hover {
    color: #ddd;
  }

  /* Estilos del menú desplegable */
  .main-nav .sub-menu {
        display: flex;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .main-nav .sub-menu li {
    display: block;
  }

  .main-nav .sub-menu a {
    color: black;
    padding: 12px 16px;
    display: block;
  }

  .main-nav .sub-menu a:hover {
    background-color: #ddd;
  }

  /* Estilos del estado activo */
  .main-nav .active {
    color: #ddd;
    position:calc(34px);
  }

  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 600px) {
    .main-nav li {
      display: block;
    }

    .main-nav .sub-menu {
      display: block;
    }
  }